/* Custom Scrollbars for Chat Container */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #111b21;
}

::-webkit-scrollbar-thumb {
    background: #222d34;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00a884;
}
